
<h1 align='center'>  <font size = '6' color='red'> 2 <font> </h1>

In [1]:

import pandas as pd
import numpy as np

In [4]:
#Read the file with the name "martsales.csv" using panadas (1 mark)

df = pd.read_csv('C:/Users/aruke/Downloads/martsales.csv')

In [15]:

df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
#Calculating the mean of 'Item_MRP' and 'Item_Outlet_Sales'

mean_item_mrp = df['Item_MRP'].mean()
mean_item_outlet_sales = df['Item_Outlet_Sales'].mean()

print(f"Mean of Item_MRP: {mean_item_mrp}")
print(f"Mean of Item_Outlet_Sales: {mean_item_outlet_sales}")

Mean of Item_MRP: 140.9927819781767
Mean of Item_Outlet_Sales: 2181.288913575032

In [7]:
#Calculating the median of 'Item_MRP' and 'Item_Outlet_Sales' 

median_item_mrp = df['Item_MRP'].median()
median_item_outlet_sales = df['Item_Outlet_Sales'].median()

print(f"Median of Item_MRP: {median_item_mrp}")
print(f"Median of Item_Outlet_Sales: {median_item_outlet_sales}")

Median of Item_MRP: 143.0128
Median of Item_Outlet_Sales: 1794.331

In [8]:
 #Calculating the mode of 'Item_MRP' and 'Item_Outlet_Sales'

mode_item_mrp = df['Item_MRP'].mode()
mode_item_outlet_sales = df['Item_Outlet_Sales'].mode()

print(f"Mode of Item_MRP:")
print(mode_item_mrp)
print(f"\nMode of Item_Outlet_Sales:")
print(mode_item_outlet_sales)

Mode of Item_MRP:
0    172.0422
Name: Item_MRP, dtype: float64

Mode of Item_Outlet_Sales:
0    958.752
Name: Item_Outlet_Sales, dtype: float64

In [9]:
#Calaculating the range of 'Item_MRP' 

item_mrp_range = df['Item_MRP'].max() - df['Item_MRP'].min()

print(f"Range of Item_MRP: {item_mrp_range}")

Range of Item_MRP: 235.5984

In [10]:
#Calculating the stndard deviation of 'Item_MRP' and 'Item_Outlet_Sales' 

std_dev_item_mrp = df['Item_MRP'].std()
std_dev_item_outlet_sales = df['Item_Outlet_Sales'].std()

print(f"Standard Deviation of Item_MRP: {std_dev_item_mrp}")
print(f"Standard Deviation of Item_Outlet_Sales: {std_dev_item_outlet_sales}")

Standard Deviation of Item_MRP: 62.27506651219039
Standard Deviation of Item_Outlet_Sales: 1706.499615733832

In [11]:
#Calculating the varianace of 'Item_MRP' and 'Item_Outlet_Sales' 

variance_item_mrp = df['Item_MRP'].var()
variance_item_outlet_sales = df['Item_Outlet_Sales'].var()

print(f"Variance of Item_MRP: {variance_item_mrp}")
print(f"Variance of Item_Outlet_Sales: {variance_item_outlet_sales}")

Variance of Item_MRP: 3878.1839090977373
Variance of Item_Outlet_Sales: 2912140.938499716

In [12]:
#Calculating IQR of 'Item_MRP' and 'Item_Outlet_Sales' 

iqr_item_mrp = df['Item_MRP'].quantile(0.75) - df['Item_MRP'].quantile(0.25)
iqr_item_outlet_sales = df['Item_Outlet_Sales'].quantile(0.75) - df['Item_Outlet_Sales'].quantile(0.25)

print(f"IQR of Item_MRP: {iqr_item_mrp}")
print(f"IQR of Item_Outlet_Sales: {iqr_item_outlet_sales}")

IQR of Item_MRP: 91.8172
IQR of Item_Outlet_Sales: 2267.049

In [16]:
#Calculating Skewness and Kurtosis (Pearson and Fisher) of 'Item_Outlet_Sales'


skewness_sales = df['Item_Outlet_Sales'].skew()
kurtosis_pearson_sales = df['Item_Outlet_Sales'].kurt()
kurtosis_fisher_sales = df['Item_Outlet_Sales'].kurtosis()

print(f"Skewness of Item_Outlet_Sales: {skewness_sales}")
print(f"Kurtosis (Pearson) of Item_Outlet_Sales: {kurtosis_pearson_sales}")
print(f"Kurtosis (Fisher) of Item_Outlet_Sales: {kurtosis_fisher_sales}")

Skewness of Item_Outlet_Sales: 1.1775306028542796
Kurtosis (Pearson) of Item_Outlet_Sales: 1.6158766814287264
Kurtosis (Fisher) of Item_Outlet_Sales: 1.6158766814287264

In [28]:
##Calculate Z-Score of 'Item_MRP' and 'Item_Outlet_Sales' (1 mark)


mean_item_mrp = df['Item_MRP'].mean()
std_dev_item_mrp = df['Item_MRP'].std()

mean_item_outlet_sales = df['Item_Outlet_Sales'].mean()
std_dev_item_outlet_sales = df['Item_Outlet_Sales'].std()

df['Z_Score_Item_MRP'] = (df['Item_MRP'] - mean_item_mrp) / std_dev_item_mrp
df['Z_Score_Item_Outlet_Sales'] = (df['Item_Outlet_Sales'] - mean_item_outlet_sales) / std_dev_item_outlet_sales

print(df[['Item_MRP', 'Z_Score_Item_MRP', 'Item_Outlet_Sales', 'Z_Score_Item_Outlet_Sales']])

      Item_MRP  Z_Score_Item_MRP  Item_Outlet_Sales  Z_Score_Item_Outlet_Sales
0     249.8092          1.747351          3735.1380                   0.910548
1      48.2692         -1.488936           443.4228                  -1.018381
2     141.6180          0.010040          2097.2700                  -0.049235
3     182.0950          0.660011           732.3800                  -0.849053
4      53.8614         -1.399138           994.7052                  -0.695332
...        ...               ...                ...                        ...
8518  214.5218          1.180714          2778.3834                   0.349894
8519  108.1570         -0.527270           549.2850                  -0.956346
8520   85.1224         -0.897155          1193.1136                  -0.579066
8521  103.1332         -0.607941          1845.5976                  -0.196713
8522   75.4670         -1.052199           765.6700                  -0.829545

[8523 rows x 4 columns]