<h1 align='center'>  <font size = '6' color='red'> Probability 2 <font> </h1>

# Load the Dataset and Answer the Following Questions:

1.   What is the Probability that the Customer has a Credit Card ?
2.   What is the Probability that the Customer age is greater than 50 ?
3.   What is the Probability that the Customer is illiterate ?
4.   What is the Probability that the Customer has a Telephone ?
5.   What is the Probability that the Customer is Single and has a Credit Card ?
6.   What is the Probability that the Customer is Male and has at most 6 Year of Education ?
7.   What is the Probability that the Customer is Retired and is divorced ?
8.   Given the Customer has the credit card, find the probability that he/she is married 
9.   If a customer has a blue collar job, find the probability that he has a housing

In [7]:
#Import pandas and numpy
import pandas as pd
import numpy as np

In [8]:

df = pd.read_csv("C:/Users/aruke/Downloads/credit_card.csv")
df.head()

,gender,age,job,marital,education,default,housing,loan,contact,CreditCard
0,female,56,housemaid,married,basic.4y,no,no,no,telephone,no
1,male,57,services,married,high.school,yes,no,no,telephone,no
2,female,37,services,married,high.school,no,yes,no,telephone,no
3,female,40,admin.,married,basic.6y,no,no,no,telephone,no
4,female,56,services,married,high.school,no,no,yes,telephone,no

In [9]:
#size of the dataset
df.shape

(41188, 10)

In [10]:
#Use describe function with include='O' as an argument
df.describe(include='O')

,gender,job,marital,education,default,housing,loan,contact,CreditCard
count,41188,41188,41188,41188,41188,41188,41188,41188,41188
unique,2,12,4,8,2,2,2,2,2
top,female,admin.,married,university.degree,no,yes,no,cellular,no
freq,20798,10422,24928,12168,32588,22566,33950,26144,36548

### What is the Probability that the Customer has a Credit Card ?

In [11]:
S = df.shape[0]
has_credit = df[df['CreditCard']== 'yes']
nc = len(has_credit)
print(f"Total Number of customers who has a credit card is {nc}")

Total Number of customers who has a credit card is 4640

In [13]:
p_nc = round(nc/S,3)
print(f"Probability that a customer have a credit card is {p_nc}")

Probability that a customer have a credit card is 0.113

### What is the Probability that the Customer age is greater than 50 ?

In [8]:
old = df[df['age']>50]
old_no = len(old)

print(f"Total Number of customers whose age is greater than 50 is {old_no}")

Total Number of customers whose age is greater than 50 is 7180

In [9]:
p_old_no = round(old_no/S,3) 
print(f"Probability that the customer age is greater than 50 is {p_old_no}")

Probability that the customer age is greater than 50 is 0.174

### What is the probability that the customer is illiterate?

In [10]:

df['education'].value_counts()

university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64

In [11]:
illiterate = 18
print(f"Probability that the customer is illiterate {illiterate/S}")

Probability that the customer is illiterate 0.0004370204914052637

###  What is the Probability that the Customer has a Telephone ?

In [12]:
df['contact'].value_counts()

cellular     26144
telephone    15044
Name: contact, dtype: int64

In [13]:
telephone = 15044
print(f"Probability that the customer has a Telephone {telephone/S}")

Probability that the customer has a Telephone 0.3652520151500437

### What is the Probability that the Customer is Single and has a Credit Card ?

In [14]:
pd.crosstab(df['marital'],df['CreditCard'],margins=True)

CreditCard     no   yes    All
marital
divorced     4136   476   4612
married     22396  2532  24928
single       9948  1620  11568
unknown        68    12     80
All         36548  4640  41188

In [15]:
single = 1620
print(f"Probability that  a customer is single and having a credit card is {single/S}")

Probability that  a customer is single and having a credit card is 0.03933184422647373

###  What is the Probability that the Customer is Male and has at most 6 Year of Education ?

In [16]:

crosstab = pd.crosstab(df['gender'], df['education'], margins=True)
crosstab

education,basic.4y,basic.6y,basic.9y,high.school,illiterate,professional.course,university.degree,unknown,All
gender,,,,,,,,,
female,2104,1169,3092,4735,7,2647,6142,902,20798
male,2072,1123,2953,4780,11,2596,6026,829,20390
All,4176,2292,6045,9515,18,5243,12168,1731,41188

In [16]:
ml = 1123+2072+11
print(f"Probability that  a customer is male and has at most 6 Year of Education  {ml/S}")

Probability that  a customer is male and has at most 6 Year of Education  0.0778382053025153

### What is the Probability that the Customer is Retired and is divorced ?

In [20]:
crosstab = pd.crosstab(df['job'], df['marital'], margins=True) 
crosstab

marital        divorced  married  single  unknown    All
job
admin.             1280     5253    3875       14  10422
blue-collar         728     6687    1825       14   9254
entrepreneur        179     1071     203        3   1456
housemaid           161      777     119        3   1060
management          331     2089     501        3   2924
retired             348     1274      93        5   1720
self-employed       133      904     379        5   1421
services            532     2294    1137        6   3969
student               9       41     824        1    875
technician          774     3670    2287       12   6743
unemployed          124      634     251        5   1014
unknown              13      234      74        9    330
All                4612    24928   11568       80  41188

In [21]:
rd = 348
print(f"Probability that  a customer is Retired and is divorced   {rd/S}")

Probability that  a customer is Retired and is divorced   0.008449062833835098

### Given the Customer has the credit card, find the probability that he/she is married ?

In [22]:
pd.crosstab(df['marital'],df['CreditCard'],margins=True)

CreditCard     no   yes    All
marital
divorced     4136   476   4612
married     22396  2532  24928
single       9948  1620  11568
unknown        68    12     80
All         36548  4640  41188

In [17]:
P_AnB = 2532
P_B = 41188
#PA = Customer is Married
# P(A|B) = P(AnB)/P(B)
print(f"Given the Customer has the credit card, probability that he/she is married is {P_AnB/P_B}")

Given the Customer has the credit card, probability that he/she is married is 0.06147421579100709

### If a customer has a management job, find the probability that he has a housing

In [25]:
crosstab = pd.crosstab(df['job'], df['housing'], margins=True) 
crosstab

housing           no    yes    All
job
admin.          4636   5786  10422
blue-collar     4304   4950   9254
entrepreneur     641    815   1456
housemaid        491    569   1060
management      1363   1561   2924
retired          784    936   1720
self-employed    641    780   1421
services        1818   2151   3969
student          381    494    875
technician      2980   3763   6743
unemployed       430    584   1014
unknown          153    177    330
All            18622  22566  41188

In [14]:
P_AnB = 1561
P_B = 2924
#PA = Customer is Married
# P(A|B) = P(AnB)/P(B)
print(f"Given the Customer has the management job, probability that he has a housing {P_AnB/P_B}")

Given the Customer has the management job, probability that he has a housing 0.5338577291381669