<h1 align='center'>  <font size = '6' color='red'> Probability tasks <font> </h1>

# Load the Dataset and Answer the Questions:

1.   What is the Probability that the Customer has no a Credit Card ?
2.   What is the Probability that the Customer age is less than 20 ?
3.   What is the Probability that the Customer has a high school education level ?
4.   What is the Probability that the Customer is married and has a Credit Card ?
5.   What is the Probability that the Customer is unemployed and is divorced ?
6.   Given the Customer has no the credit card, find the probability that he/she is married 
7.   If a customer is unemployed, find the probability that he has a housing

In [16]:
import pandas as pd
import numpy as np
df = pd.read_csv('credit_card.csv')
df.head()

,gender,age,job,marital,education,default,housing,loan,contact,CreditCard
0,female,56,housemaid,married,basic.4y,no,no,no,telephone,no
1,male,57,services,married,high.school,yes,no,no,telephone,no
2,female,37,services,married,high.school,no,yes,no,telephone,no
3,female,40,admin.,married,basic.6y,no,no,no,telephone,no
4,female,56,services,married,high.school,no,no,yes,telephone,no

In [17]:
df.shape

(41188, 10)

In [18]:
df.describe(include='O')

,gender,job,marital,education,default,housing,loan,contact,CreditCard
count,41188,41188,41188,41188,41188,41188,41188,41188,41188
unique,2,12,4,8,2,2,2,2,2
top,female,admin.,married,university.degree,no,yes,no,cellular,no
freq,20798,10422,24928,12168,32588,22566,33950,26144,36548

In [19]:
df.describe()

               age
count  41188.00000
mean      40.02406
std       10.42125
min       17.00000
25%       32.00000
50%       38.00000
75%       47.00000
max       98.00000

### What is the Probability that the Customer has no a Credit Card ?

In [20]:
#First find the total number of customer
S = df.shape[0]
print(f"Total number of customers: {S}")

Total number of customers: 41188

In [21]:
has_credit = df[df['CreditCard']== 'no']
nc = len(has_credit)
print(f"Total Number of customers who do not have credit card is {nc}")

Total Number of customers who do not have credit card is 36548

In [22]:
p_nc = round(nc/S,3)
print(f"Probability that a customer do not have a credit card is {p_nc}")

Probability that a customer do not have a credit card is 0.887

### What is the Probability that the Customer age is less than 20 ?

In [23]:
young = df[df['age']<20]
young_no = len(young)

print(f"Total Number of customers whose age is less than 20 years is {young_no}")

Total Number of customers whose age is less than 20 years is 75

In [24]:
p_young_no = round(young_no/S,3) 
print(f"Probability that the customer age is less than 20 is {p_young_no}")

Probability that the customer age is less than 20 is 0.002

### What is the probability that the customer has a high school education level?

In [25]:
df['education'].value_counts()

university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64

In [26]:
hs = 9515
p = hs/S
print(f"Probability that a customer is illiterate is {p}")

Probability that a customer is illiterate is 0.23101388754006022

### What is the Probability that the Customer is married and has a Credit Card ?

In [27]:
#What is the Probability that the Customer is Single and has a Credit Card ?
pd.crosstab(df['marital'],df['CreditCard'],margins=True)

CreditCard     no   yes    All
marital
divorced     4136   476   4612
married     22396  2532  24928
single       9948  1620  11568
unknown        68    12     80
All         36548  4640  41188

In [28]:
mc = 2532
print(f"Probability that  a customer is single and having a credit card is {mc/S}")

Probability that  a customer is single and having a credit card is 0.06147421579100709

### What is the Probability that the Customer is unemployed and is divorced ?

In [29]:
# What is the Probability that the Customer is unemployed and is divorced ?
pd.crosstab(df['marital'],df['job'],margins=True)

job,admin.,blue-collar,entrepreneur,housemaid,management,retired,self-employed,services,student,technician,unemployed,unknown,All
marital,,,,,,,,,,,,,
divorced,1280,728,179,161,331,348,133,532,9,774,124,13,4612
married,5253,6687,1071,777,2089,1274,904,2294,41,3670,634,234,24928
single,3875,1825,203,119,501,93,379,1137,824,2287,251,74,11568
unknown,14,14,3,3,3,5,5,6,1,12,5,9,80
All,10422,9254,1456,1060,2924,1720,1421,3969,875,6743,1014,330,41188

In [30]:
ud = 124
print(f"Probability that  a customer is Customer is is Retired and is divorced is {ud/S}")

Probability that  a customer is Customer is is Retired and is divorced is 0.003010585607458483

### Given the Customer has no credit card, find the probability that he/she is married ?

In [33]:
#Given the Customer has the credit card, find the probability that he/she is married ?
pd.crosstab(df['marital'],df['CreditCard'],margins=True)

CreditCard     no   yes    All
marital
divorced     4136   476   4612
married     22396  2532  24928
single       9948  1620  11568
unknown        68    12     80
All         36548  4640  41188

In [ ]:
P_AnB = 22396
P_B = 36548
#PA = Customer is Married
# P(A|B) = P(AnB)/P(B)
print(f"Given the Customer has the credit card, probability that he/she is married is {P_AnB/P_B}")

### If a customer is unemployed, find the probability that he has a housing

In [ ]:
# If a customer has a blue collar job, find the probability that he has a housing
# P(B) = customer has a blue collar job
pd.crosstab(data['job'],data['housing'],margins=True)

In [32]:
pB = 1014
pAnB = 584
print(f"If a customer has a blue collar job, probability that he has a housing is {pAnB/pB} ")

If a customer has a blue collar job, probability that he has a housing is 0.5759368836291914